{% extends "InertiaWinspireBundle::layout.html.twig" %}

{% block title %}Winspire | Event Consultant Admin{% endblock %}

{% block js %}{% endblock %}

{% block content %}
<div id="standard-page" class="admin-page">
    <div class="page-content">
        <div class="c-wrap">
            <h1>Event Consultant Admin</h1>
            <p>This is your access to your nonprofit client’s Suitcases.  You can filter your searches by Suitcase Name, Contact Name and Nonprofit.  Once you find the Suitcase you are looking for, click and you will be logged into your client’s Suitcase with equal priviledges.</p>
            
            <div class="tools">
                <form>
                    <select id="select-consultant" autocomplete="off" style="display:none;">
                        <option value="all">All Event Consultants</option>
{% for consultant in consultants %}
                        <option {% if app.user.id == consultant.id %}selected="selected" {% endif %}value="{{ consultant.id }}">{{ consultant.firstName }} {{ consultant.lastName }}</option>
{% endfor %}
                    </select>
                    
                    <select id="select-status" autocomplete="off" style="display:none;">
                        <option selected="selected" value="all">All Suitcase Statuses</option>
                        <option value="U">Open</option>
                        <option value="P">Packed</option>
                        <option value="R">Invoice Requested</option>
                        <option value="I">Invoiced</option>
                        <option value="A">Paid</option>
                        <option value="M">Lost</option>
                    </select>
                    
                    <div id="suitcase-search">
                        <input type="text" class="search-text" placeholder="Search Suitcases..." value="">
                        <input type="button" class="search-submit" value="Search">
                    </div>
                </form>
            </div>
            
            <table class="suitcases" id="suitcases">
                <thead>
                    <tr>
                        <th data-sort="string" class="cname sort sorting-asc"><a href="#">Organization<span class="icon icon-arrow-up"></span></a></th>
                        <th data-sort="string" class="name"><a href="#">Suitcase</a></th>
                        <th data-sort="string" class="email"><a href="#">Email</a></th>
                        <th data-sort="int" class="date"><a href="#">Date</a></th>
                        <th data-sort="string" class="state"><a href="#">S</a></th>
                        <th data-sort="string" class="partner"><a href="#">Partner</a></th>
                        <th data-sort="string" class="sfid"><a href="#">Opportunity ID</a></th>
                        <th data-sort="string" class="status"><a href="#">Status</a></th>
                        <th class="status-color">&nbsp;</th>
                        <th class="delete">&nbsp;</th>
                    </tr>
                    <tr class="spacer">
                        <th colspan="10">&nbsp;</th>
                    </tr>
                </thead>
                
{% if suitcases | length > 0 %}
                <tbody>
{%     for suitcase in suitcases %}
                    <tr {% if app.user.id != suitcase.user.company.salesperson.id %}style="display:none;" {% endif %}class="suitcase{% if (loop.index % 2) == 0 %} even{% endif %}" data-name="{{ suitcase.eventName }}" data-id="{{ suitcase.id }}" data-user-id="{{ suitcase.user.company.salesperson.id }}" data-status="{{ suitcase.status }}" data-search="{{ suitcase.eventName | lower }}~{{ suitcase.user.company.name | lower }}~{{ suitcase.user.emailCanonical }}">
<!-- run the td elements together to prevent IE9 from behaving badly -->
<td class="cname" data-sort-value="{{ suitcase.user.company.name | lower }}" title="{{ suitcase.user.company.name }}">{{ suitcase.user.company.name }}</td><td class="name" data-sort-value="{{ suitcase.eventName | lower }}" title="{{ suitcase.eventName }}">{{ suitcase.eventName }}</td><td class="email" title="{{ suitcase.user.emailCanonical }}">{{ suitcase.user.emailCanonical }}</td><td class="date" data-sort-value="{{ suitcase.eventDate != '' ? suitcase.eventDate | date('Ymd') : '99999999' }}">{{ suitcase.eventDate != '' ? suitcase.eventDate | date('m/d/y') : 'N/A' }}</td><td class="state" data-sort-value="{{ suitcase.user.company.state | upper }}">{{ suitcase.user.company.state | upper }}</td><td class="partner" data-sort-value="{% if suitcase.partner %}{{ suitcase.partner.name | lower }}{% endif %}" title="{% if suitcase.partner %}{{ suitcase.partner.name }}{% endif %}">{% if suitcase.partner %}{{ suitcase.partner.name }}{% else %}&nbsp;{% endif %}</td><td class="sfid">
                            <span class="value{% if (suitcase.status != 'U') %} disabled{% endif %}">{% if suitcase.sfId %}{{ suitcase.sfId }}{% else %}&nbsp;{% endif %}</span>
{% if (suitcase.status == 'U') %}
                            <span class="form"><input maxlength="18" size="18" type="text" name="sf_id" id="sf_id_{{ suitcase.id }}" data-id="{{ suitcase.id }}" value="{{ suitcase.sfId }}"/></span>
{% endif %}
                        </td><td class="status">{% if suitcase.status == 'U' %}Open{% endif %}{% if suitcase.status == 'P' %}Packed{% endif %}{% if suitcase.status == 'R' %}Inv. Req.{% endif %}{% if suitcase.status == 'I' %}Invoiced{% endif %}{% if suitcase.status == 'A' %}Paid{% endif %}{% if suitcase.status == 'M' %}Lost{% endif %}</td><td class="status-color">
                            <span {% if suitcase.status == 'U' %} class="green"{% endif %}{% if suitcase.status == 'P' %} class="yellow"{% endif %}{% if suitcase.status == 'R' %} class="red"{% endif %}{% if suitcase.status == 'I' %} class="red"{% endif %}{% if suitcase.status == 'A' %} class="blue"{% endif %}{% if suitcase.status == 'M' %} class="gray"{% endif %}
                            >&nbsp;</span>
                        </td><td class="delete">
{% if suitcase.status in ['U', 'P'] %}
                            <a href="#" data-id="{{ suitcase.id }}" data-name="{{ suitcase.eventName }}" title="Delete this Suitcase"><span class="icon icon-trash"></span></a>
{% else %}
                            &nbsp;
{% endif %}
                        </td>
                    </tr>
{%     endfor %}
                </tbody>
{% endif %}
            </table>
        </div>
    </div>
</div>
<div id="delete-suitcase-modal" style="display:none;">
    <h3>Are you sure you want to delete this Suitcase?</h3>
    <p>This will permanently delete this Suitcase (<span id="suitcase-name"></span>) from the Website. This action is final and irreversible.</p>
    <button data-id="">Yes. Delete This Suitcase.</button>
</div>
{% endblock %}
{% block jsBottom %}
<script src="/js/vendor/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/modernizr-2.6.1.min.js"></script>
<script src="/js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/vendor/jquery.selectboxit.min.js"></script>
<script src="/js/vendor/jquery.modal.min.js"></script>
<script src="/js/vendor/spin.min.js"></script>
<script src="/js/vendor/stupidtable.min.js"></script>

<script src="/js/vendor/jquery.carousel.js"></script>
<script src="/js/jquery.homeslideshow.js"></script>
<script src="/js/vendor/jquery.multiselect.min.js"></script>
<script src="/js/vendor/jquery.validate.min.js"></script>
<script src="/js/vendor/jquery.fs.stepper.js"></script>
<script src="/js/vendor/jquery.tooltipster.min.js"></script>

<script src="/js/main.min.js"></script>
<script src="/js/admin.min.js"></script>
{% endblock %}