<div id="core-suitcase">
    <div id="suitcase-toggle">
        <div class="btn-label">
            <span aria-hidden="true" class="icon-suitcase-2"></span>
            <em>my</em><strong>Suitcase</strong>
        </div>
        <div class="btn-drop">
            <span aria-hidden="true" class="icon-arrow-down"></span>
        </div>
    </div>

    <!-- Suitcase Drop -->
    <div id="suitcase-panel">
        <div class="panel-tab">
            <div class="the-tab">
                <div class="tab-btn">
                    <span aria-hidden="true" class="icon-arrow-down"></span>
                </div>
            </div>
            <div class="the-panel suitcase-list">
                <ul class="suitcases">
{% for suitcase in suitcaseList %}
                    <li{% if sid == suitcase.id %} class="current"{% endif %} data-id="{{ suitcase.id }}">
                        <a href="{{ path('suitcaseSwitch') ~ '?sid=' ~ suitcase.id }}">
                            <span class="name">{{ suitcase.name }}</span>
                            <span class="status {{ suitcase.raw }}">{{ suitcase.status }}</span>
                        </a>
                    </li>
{% endfor %}
                </ul>
                <hr/>
                <ul class="nav">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><em>my</em> Account</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><em>my</em> Order History</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Suitcase Drop -->
</div>