{% javascripts "@InertiaWinspireBundle/Resources/views/Suitcase/previewItem.html.twig" filter="twig_js" %}
<script language="javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<div id="suitcase-preview"{% if app.environment == 'dev' %} style="bottom:39px;"{% endif %} class="closed">
    <div id="suitcase-preview-content">
        <div id="suitcase-preview-header">
            <div class="c-wrap">
                <div class="suitcase"><span class="icon-suitcase"></span><em>my</em> Suitcase</div>
                <form data-style="ajax" data-id="{{ suitcase.id }}" method="get" action="{{ path('suitcaseSwitch') }}" class="suitcase-switcher">
                    <select name="sid">
                        <option value="new">Create New Suitcase</option>
                        
{% for s in suitcaseList %}
                        <option{% if s.id == suitcase.id %} selected="selected"{% endif %} value="{{ s.id }}">{{ s.name | truncate(30) }}</option>
{% endfor %}
                    </select>
                </form>
                <ul class="header-nav">
                    <li class="share"><a href="{{ path('suitcaseView') }}"><span class="icon-bubble"></span> Share</a></li>
                    <li class="comments"><a href="{{ path('suitcaseView') }}"><span class="icon-comment"></span><span class="comment-count">{{ suitcase.comments | length }}</span> Comments</a></li>
                    <li class="button"><a{% if suitcase.packed %} class="locked"{% endif %} href="{{ path('suitcaseView') }}"><span class="{% if suitcase.packed %}icon-suitcase-locked{% else %}icon-suitcase{% endif %} icon"></span> <em>I'm</em> Packed<span id="suitcase-preview-count">{% if suitcase.items | length > 0 %} ({{ suitcase.items | length }}){% endif %}</span></a></li>
                    <li class="toggle"><a href="#"><span class="icon-double-up"></span></a>
                </ul>
            </div>
        </div>
        <div class="c-wrap">
            <div id="suitcase-preview-items">
{% for item in suitcase.items %}
    {% include 'InertiaWinspireBundle:Suitcase:previewItem.html.twig'
        with {'item': item.package}
    %}
{% endfor %}
            </div>
            <div id="suitcase-preview-prev" class="disabled"><span class="icon-arrow-left"></span></div>
            <div id="suitcase-preview-next" class="disabled"><span class="icon-arrow-right"></span></div>
        </div>
    </div>
    <div id="suitcase-preview-footer"></div>
</div>