{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Auction Items for Non-Profits | Charity Auction Ideas | Winspire{% endblock %}

{% block description %}Winspire helps Nonprofits maximize their fundraising revenue by providing highly sought after auction packages. Start planning your next event now!{% endblock %}

{% block content_header '' %}

{% block content %}

<div id="con-home">
    <!-- Banner & Slides -->
    <section id="home-banner" class="home-slideshow">
        <div class="slide-wrapper">
            <div class="step" id="slide-4" data-x="1000" data-rotate="20">
                <div class="slide-content">
                    <h2>Free Event<span>Consultation.</span></h2>
                    <p>Let our team of Event Consultants teach you how to<br/> blow your audience away at your next fundraiser.</p>
                    <a class="primary" href="http://info.winspireme.com/free-event-consultation">Sign Up<span aria-hidden="true" class="icon-arrow-right"></span></a>
                </div>
                <img src="/img/home-banner-bg4.png" alt=""/>
            </div>
            <div class="step" id="slide-1" data-x="2000" data-y="1000" data-rotate="-20">
                <div class="slide-content">
                    <h2>The sky's the limit.</h2>
                    <h3>At Winspire, you purchase only what you sell<br/> making all our auction packages <strong>No Risk</strong>.</h3>
                    <a class="primary" href="{{ path('pageDisplay', {'slug': 'how-winspire-works'}) }}">Learn More <span aria-hidden="true" class="icon-arrow-right"></span></a>
                </div>
                <img src="/img/home-banner-bg1.png" alt=""/>
            </div>
            <div class="step" id="slide-2" data-x="1000" data-y="2000" data-rotate="20">
                <div class="slide-content">
                    <div class="testimonial">
                        <p class="salutation">Dear Winspire,</p>
                        <p>We've just returned from our trip to New York City, and we were <strong>absolutely
                        thrilled with the quality of the trip!</strong> We plan to attend the South Bay Musical
                        Theater auction again next year and <strong>bid on another Winspire trip</strong>.
                        Thanks for all of your assistance with our vacation!</p>
                        <p class="author"><em>Kari Bennet</em><br/>
                        Winning Bidder<br/>
                        Annual Crab &amp; Pasta Feed Fundraiser<br/>
                        <strong>South Bay Musical Theater</strong></p>
                    </div>
                    <div class="package">
                        <p>New York Amazing Long Weekend</p>
                        <a class="primary" href="{{ path('packageDetail', {'slug': 'new-york-amazing-long-weekend'}) }}">View 2 Options <span aria-hidden="true" class="icon-arrow-right"></span></a>
                        <img src="/img/home-banner-2-suitcase.png" width="74" height="49" alt=""/>
                    </div>
                </div>
                <img src="/img/home-banner-bg2.png" alt=""/>
            </div>
            <div class="step" id="slide-3" data-x="2000" data-y="2000" data-rotate="10">
                <div class="slide-content">
                    <p>Excite your donors with once-in-a-lifetime travel Experiences at your fundraising event.</p>
                    <p style="text-align:right;"><a class="primary" href="{{ path('pageDisplay', {'slug': 'why-winspire'}) }}">Learn How <span aria-hidden="true" class="icon-arrow-right"></span></a></p>
                </div>
                <img src="/img/home-banner-bg3.png" alt=""/>
            </div>
        </div>
    </section>
    <!-- Banner & Slides -->
    
    <!-- Experiences CTAs -->
    <div id="home-experiences">
        <div class="c-wrap">

            {% render "InertiaWinspireBundle:Default:lovedBy" %}

            <!-- Experiences & Featured Suitcases -->
            <div class="shadow-wrapper">
{% render "InertiaWinspireBundle:Default:featuredPackages" %}
            </div>
            <!-- Experiences & Featured Suitcases -->
            
            <!-- Success Panels -->
            <div id="home-success">
                <h2>Winspire Simplifies Fundraising Success</h2>
                
                <div id="success-panels">
                    <ul>
                        <li>
                            <img src="/img/winspire-success-select-your-experiences.png" alt=""/>
                            <h4>Select Experiences.</h4>
                            <p>Choose from the largest selection of highly sought after, unique charity auction items for your fundraiser. Include any of them in your event at <a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}#q1">No Risk</a> to your Nonprofit.</p>
                            <p class="action"><a href="{{ path('packageList') }}">Select Experiences <span aria-hidden="true" class="icon-arrow-right"></span></a></p>
                        </li>
                        <li>
                            <img src="/img/winspire-success-impress-your-donors.png" alt=""/>
                            <h4>Impress Your Donors.</h4>
                            <p>Winspire Experiences create the kind of “buzz” that drives up bidding and impresses donors. Work with our practiced Event Consultants who will help you find the most attractive items for your audience.</p>
                            <p class="action"><a href="{{ path('pageDisplay', {'slug': 'why-winspire'}) }}">Impress Donors <span aria-hidden="true" class="icon-arrow-right"></span></a></p>
                        </li>
                        <li>
                            <img src="/img/winspire-success-reap-the-rewards.png" alt=""/>
                            <h4>Reap the Rewards.</h4>
                            <p>After your event, we will make sure your Winning Bidders are well taken care of. Winspire has a team of experienced travel professionals to help them book their Experience down to every last detail.</p>
                            <p class="action"><a href="{{ path('pageDisplay', {'slug': 'testimonials'}) }}">Reap the Rewards <span aria-hidden="true" class="icon-arrow-right"></span></a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Success Panels -->
            
            <!-- Stats Panels -->
            <div id="home-stats">
                <!-- Panels -->
                <div id="stats-panels">
                    <ul id="stat-slides">
                        <li id="slide1">
                            <h5>45K Satisfied Winning Bidders</h5>
                            <h6>Your most important patrons will be raving about their Experience at your next event.</h6>
                        </li>
                        <li id="slide2">
                            <h5>200,000 Events Worldwide</h5>
                            <h6>We know what it takes to throw a successful event. Your personal Event Consultant will be on hand to help you select the best Experiences for your audience.</h6>
                        </li>
                        <li id="slide3">
                            <h5>25.1 Million Dollars Raised for Nonprofits</h5>
                            <h6>Winspire has helped Nonprofits raise over $25 million through the use of unique Winspire Experiences. We love raising money almost as much as our Winning Bidders love their Experiences.</h6>
                        </li>
                    </ul>
                </div>
                <!-- Panels -->
            </div>
            <!-- Stats Panels -->
        </div>
    </div>
    <!-- Experiences CTAs -->
    
    <div id="home-footer">
        <div class="c-wrap">
{% render "InertiaWinspireBundle:Default:testimonial" %}

{% render "InertiaWinspireBundle:Default:wordpress" %}
            
        </div>
    </div>
</div>
{% endblock %}
