{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Package Detail{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-pd">
    <div id="pd-header" data-id="{{ package.id }}">
        <div class="c-wrap">
{% if search %}
            <a href="#" class="pd-b2-pl"><span aria-hidden="true" class="ico-arrow-left icom-icon"></span> Back To Search Results</a>
{% else %}
            <p>&nbsp;</p>
{% endif %}
            <div class="reset">&nbsp;</div>
            <div class="pd-banner drop-shadow lifted3">
                <img src="/uploads/packages/{{ package.picture }}" width="994" height="450" alt=""/>
            </div>
        </div>
    </div>
    
    <div id="pd-container" class="row">
        <div class="c-wrap">
            <div class="pd-actions">
                <div class="pd-action">
                    <div class="pd-a-srv"><span class="srv-value">{{ package.suggestedRetailValue }}</span> <span class="srv-label">Suggested Retail Value</span></div>
                    <span class="pd-a-npcost"><span class="npc-value">${{ package.cost | number_format(2) }}</span> Non-Profit Cost</span>
                    <a href="#" class="pd-a-add"><span aria-hidden="true" class="ico-suitcase icom-icon"></span><em>Add to</em> Suitcase</a>
                    
{% if variants | length > 1 %}
                    <hr/>
                    
                    <h2>All Package Experiences</h2>
                    
                    <ul class="pd-a-options">
{%     for variant in variants %}
                        <li>
                            <input id="variant{{ variant.id }}" type="radio" name="variant" value="{{ variant.id }}"{% if package.id == variant.id %} checked="checked"{% endif %}/>
                            <label for="variant{{ variant.id }}">
                                <div class="a-o-fauxradio"><div class="a-o-f-dot"><div class="f-dot-inner"><!-- Fake Dot --></div></div></div>
                                <div class="a-o-pdetail">
{%         if true %}
                                    <ul class="pd-detailpanel">
                                        {% if variant.persons %}<li><span aria-hidden="true" class="icon-user icom-icon"></span> <span class="pd-c-usercount">{{ variant.persons }}</span></li>{% endif %}
                                        {% if variant.accommodations %}<li><span aria-hidden="true" class="icon-bed icom-icon"></span> <span class="pd-c-nightcount">{{ variant.accommodations }}</span></li>{% endif %}
                                        {% if variant.airfares %}<li><span aria-hidden="true" class="icon-airplane icom-icon"></span> <span class="pd-c-airfare">{{ variant.airfares }}</span></li>{% endif %}
                                    </ul>
{%         endif %}
                                    <p>{{ variant.name }}</p>
                                </div>
                            </label>
                        </li>
{%     endfor %}
                    </ul>
{% endif %}
                </div>
            </div><!-- pd-actions end -->
            
            <div class="pd-details">
                <div class="pd-detail">
                    <h1>{{ package.parentHeader }}</h1>
                    <h3 class="name">{{ package.name }}</h3>
                    
                    <div class="pd-d-utilbar">
                        <ul class="pd-detailpanel">
                            {% if package.persons %}<li><span aria-hidden="true" class="icon-user icom-icon"></span> <span class="pd-c-usercount">{{ package.persons }}</span></li>{% endif %}
                            {% if package.accommodations %}<li><span aria-hidden="true" class="icon-bed icom-icon"></span> <span class="pd-c-nightcount">{{ package.accommodations }}</span></li>{% endif %}
                            {% if package.airfares %}<li><span aria-hidden="true" class="icon-airplane icom-icon"></span> <span class="pd-c-airfare">{{ package.airfares }}</span></li>{% endif %}
                        </ul>
                        
                        <div class="pd-d-addthis">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50e92a4401ef2543"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    
                    {{ package.details | raw }}
                    
{% if package.moreDetails %}
                    <div class="detail-info">
                        {{ package.moreDetails | raw }}
                    </div>
{% endif %}
                    <a class="d-i-mi" {% if not package.moreDetails %}style="display:none;"{% endif %}><span class="d-i-ml">More</span> Info +</a>
                </div>
                
                <!-- START: Livefyre Embed -->
                <div class="pd-discuss">
                <div id="livefyre-comments" style=""></div>
                </div>
                <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
                <script type="text/javascript">
                (function () {
                    var articleId = fyre.conv.load.makeArticleId(null);
                    fyre.conv.load({}, [{
                        el: 'livefyre-comments',
                        network: "livefyre.com",
                        siteId: "320031",
                        articleId: articleId,
                        signed: false,
                        collectionMeta: {
                            articleId: articleId,
                            url: fyre.conv.load.makeCollectionUrl(),
                            }
                    }], function() {});
                    }());
                </script>
                <!-- END: Livefyre Embed -->
                
            </div><!-- pd-details end -->
        </div>
    </div>
</div>
{% if variants | length > 1 %}
<div id="variant-holder">
{%     for variant in variants %}
    <div id="v{{ variant.id }}" data-id="{{ variant.id }}" data-persons="{{ variant.persons }}" data-accommodations="{{ variant.accommodations }}" data-airfares="{{ variant.airfares }}" data-name="{{ variant.name }}" data-srv="{{ variant.suggestedRetailValue }}" data-cost="${{ variant.cost | number_format(2) }}">
        <div class="details">{{ variant.details | raw }}</div>
        <div class="more-details">{{ variant.moreDetails | raw}}</div>
    </div>
{%     endfor %}
</div>
{% endif %}
{% endblock %}
