{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Package List{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-pl">
    <div id="pl-header">
        <div class="c-wrap">
            <h1>Discover Your Experiences</h1>
            <h3>Cras vestibulum porttitor tortor at condimentum. Donec mauris mi, molestie sit amet<br/>
            ultrices id, molestie et dolor. Duis arcu risus, venin  auctor vel, ultrices porta velit.</h3>
            
            <img src="/img/pl-cloud.png" class="pl-h-cloud c-1">
            <img src="/img/pl-cloud.png" class="pl-h-cloud c-2">
        </div>
    </div>
    
    <div id="pl-container" class="row">
        <div class="c-wrap">
            <div class="pl-filter">
                <section>
                    <h4>Filter Your Results</h4>
                </section>
                
                <section>
                    <div class="f-search">
                        <input type="text" class="search-text" value="Search" />
                        <input type="button" class="search-submit" value="" />
                    </div>
                </section>
                
                <section>
                    <a{% if rootCat == 1 %} class="active"{% endif %} id="pl-link-all" href="{{ path('packageList') }}">All Experiences <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></a>
                </section>
                
                <section>
                    <ul class="f-group">
                        <li>
                            <input id="cat2" type="checkbox" name="category[2][]" value="2"{% if rootCat == 2 %} checked="checked"{% endif %}/>
                            <label for="cat2">U.S. Travel</label>
                            <div class="f-select">
								<select id="catState" name="catState">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
                            </div>
                        </li>
                    </ul>
{% for filter in filterTree %}
{%     if filter.title != 'US Travel' %}
                    <ul class="f-group">
                        <li>
                            <input id="cat{{ filter.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ filter.id }}"{% if filter.id == rootCat %} checked="checked"{% endif %}/>
                            <label for="cat{{ filter.id }}"{% if filter.id == rootCat %} class="active"{% endif %}>{{ filter.title }}</label>
{%         if filter.__children %}
                            <ul{% if filter.id == rootCat %} class="more-shown"{% endif %}>
{%             for child in filter.__children %}
                                <li><input id="cat{{ child.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ child.id }}"{% if child.id == rootCat %} checked="checked"{% endif %}/>
                                <label for="cat{{ child.id }}"{% if child.id == rootCat %} class="active"{% endif %}>{{ child.title }}</label></li>
{%             endfor %}
                            </ul>
{%         endif %}
                        </li>
{%         if filter.__children %}
                        <li class="f-g-sm"><span class="sm-label">Show More</span> <span aria-hidden="true" class="ico-arrow-right icom-icon"></span></li>
{%         endif %}
                    </ul>
{%     endif %}
{% endfor %}
                </section>
            </div>
            
            <div class="pl-results">
                <div class="row pl-sort">
                    <ul>
                        <li><a href="#" class="selected" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="popular">Most Popular</a></li>
                        <li><a href="#" data-filter="newest">Newest</a></li>
                    </ul>
                    
                    <div class="pl-sort-select">
                        <select id="sortOrder" name="sortOrder">
                            <option selected="selected" value="alpha-asc">Alphabetical A-Z</option>
                            <option value="alpha-desc">Alphabetical Z-A</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <ul class="pl-items">
{% include 'InertiaWinspireBundle:Default:packages.html.twig' with {'packages': packages} %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
