{% for package in packages %}
{%     set count = package.count %}
{%     set package = package.package %}
                        <li class="drop-shadow lifted2">
                            <div class="i-inner">
                                <div class="i-image"><img src="/uploads/packages/{{ package.thumbnail }}" alt="" width="129" height="85"/></div>
                                <div class="i-actions">
                                    <div class="i-a-add"><span aria-hidden="true" class="ico-suitcase"></span><em>Add to</em> Suitcase</div>
                                    <div class="i-a-options">
{%     if count > 1 %}
                                        <a href="{{ path('packageDetail', {'slug': package.slug}) }}">View (<span class="i-o-count">{{ count }}</span>) Options <span aria-hidden="true" class="ico-arrow-right"></span></a>
{%     else %}
                                        <a href="{{ path('packageDetail', {'slug': package.slug}) }}">View Details <span aria-hidden="true" class="ico-arrow-right"></span></a>
{%     endif %}
                                    </div>
                                </div>
                                <div class="i-details">
                                    <h3><a href="{{ path('packageDetail', {'slug': package.slug}) }}">{{ package.parentHeader }}</a></h3>
                                    <p>{{ package.name }}</p>
                                    <div class="i-srv">
                                        <span class="i-sv">{{ package.suggestedRetailValue }}</span> <span class="srv-n">Suggested Retail Value</span>
                                    </div>
                                    <div class="i-npc"><span class="i-cost">${{ package.cost | number_format(2) }}</span> Non-Profit Cost</div>
                                </div>
                            </div>
                        </li>
{% endfor %}