{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Package List{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-pl">
    <div id="pl-header">
        <div class="c-wrap">
            <h1>Discover Your Experiences</h1>
            <h3>Cras vestibulum porttitor tortor at condimentum. Donec mauris mi, molestie sit amet<br/>
            ultrices id, molestie et dolor. Duis arcu risus, venin  auctor vel, ultrices porta velit.</h3>
            
            <img src="/img/pl-cloud.png" class="pl-h-cloud c-1">
            <img src="/img/pl-cloud.png" class="pl-h-cloud c-2">
        </div>
    </div>
    
    <div id="pl-container" class="row">
        <div class="c-wrap">
            <div class="pl-filter">
                <section>
                    <h4>Filter Your Results</h4>
                </section>
                
                <section>
                    <div class="f-search">
                        <input type="text" class="search-text" value="Search" />
                        <input type="button" class="search-submit" value="" />
                    </div>
                </section>
                
                <section>
                    <a{% if rootCat == 1 %} class="active"{% endif %} id="pl-link-all" href="{{ path('packageList') }}">All Experiences <span aria-hidden="true" class="icon-arrow-right icon"></span></a>
                </section>
                
                <section>
{% for filter in filterTree %}
{%     if filter.title == 'US Travel' %}
                    <ul class="f-group">
                        <li>
                            <input id="cat2" type="checkbox" name="category[2][]" value="2"{% if rootCat == 2 %} checked="checked"{% endif %}/>
                            <label for="cat2">U.S. Travel</label>
                            <select id="catState" name="category[2][]" multiple="multiple">
{%         for child in filter.__children %}
                                <option value="{{ child.id }}">{{ child.title }}</option>
{%         endfor %}
                            </select>
                        </li>
                    </ul>
{%     else %}
                    <ul class="f-group">
                        <li>
                            <input id="cat{{ filter.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ filter.id }}"{% if filter.id == rootCat %} checked="checked"{% endif %}/>
                            <label for="cat{{ filter.id }}"{% if filter.id == rootCat %} class="active"{% endif %}>{{ filter.title }}</label>
{%         if filter.__children %}
{%             set open = false %}
{%             set count = 0 %}
{%             for child in filter.__children %}
{%                 set count = count + 1 %}
{%                 if child.id == rootCat and count > 2 %}
{%                     set open = true %}
{%                 endif %}
{%             endfor %}
                            <ul{% if open %} class="more-shown"{% endif %}>
{%             for child in filter.__children %}
                                <li><input id="cat{{ child.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ child.id }}"{% if child.id == rootCat %} checked="checked"{% endif %}/>
                                <label for="cat{{ child.id }}"{% if child.id == rootCat %} class="active"{% endif %}>{{ child.title }}</label></li>
{%             endfor %}
                            </ul>
{%         endif %}
                        </li>
{%         if filter.__children %}
                        <li class="f-g-sm"><span class="sm-label">Show {% if open %}Less{% else %}More{% endif %}</span> <span aria-hidden="true" class="icon-arrow-{% if open %}up{% else %}right{% endif %} icon"></span></li>
{%         endif %}
                    </ul>
{%     endif %}
{% endfor %}
                </section>
            </div>
            
            <div class="pl-results">
                <div class="row pl-sort">
                    <ul>
                        <li><a href="#" class="selected" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="popular">Most Popular</a></li>
                        <li><a href="#" data-filter="newest">Newest</a></li>
                    </ul>
                    
                    <div class="pl-sort-select">
                        <select id="sortOrder" name="sortOrder">
                            <option selected="selected" value="alpha-asc">Alphabetical A-Z</option>
                            <option value="alpha-desc">Alphabetical Z-A</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <ul class="pl-items">
{% include 'InertiaWinspireBundle:Default:packages.html.twig' with {'packages': packages} %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
