{% extends base_template %}

{% block title %}{% if app.request.get('subdomain') %}{{ app.request.get('subdomain') | capitalize }}{% else %}Winspire{% endif %} | Package List{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-pl">
    <div id="pl-header">
{% if app.request.get('subdomain') %}
        {% include 'InertiaWinspireBundle:Whitelabel/' ~ app.request.get('subdomain') ~':content.html.twig' ignore missing %}
{% else %}
        <div class="c-wrap">
            <h1>Discover Your Experiences</h1>
            <h3>Browse our list of over 600 Experiences and add your favorites to <em>my</em><strong>Suitcase</strong>,
                where you can compare, collaborate and then reserve for your fundraiser.</h3>
            <img src="/img/pl-cloud.png" width="499" height="192" class="pl-h-cloud" alt="">
        </div>
{% endif %}
    </div>
    
    <div id="pl-container" class="row">
        <div class="c-wrap">
            <div class="pl-filter">
                <section>
                    <h4>Filter Your Results</h4>
                </section>
                
                <section>
                    <div class="f-search">
{% if app.session.get('q') %}
                        <input type="text" class="search-text" placeholder="Search" value="{{ app.session.get('q') }}"/>
{% else %}
                        <input type="text" class="search-text" placeholder="Search" value="{{ q }}"/>
{% endif %}
                        <input type="button" class="search-submit" />
                    </div>
                </section>
                
                <section>
{% if not app.request.get('subdomain') %}
                    <a{% if rootCat == 1 %} class="active"{% endif %} id="pl-link-all" href="{{ path('packageList') }}">All Experiences <span aria-hidden="true" class="icon-arrow-right icon"></span></a>
{% else %}
                    <a{% if rootCat == 1 %} class="active"{% endif %} id="pl-link-all" href="{{ path('whitelabel_all', {subdomain: app.request.get('subdomain')}) }}">All Experiences <span aria-hidden="true" class="icon-arrow-right icon"></span></a>
{% endif %}
                </section>
                
                <section>
{% for filter in filterTree %}
{%     if filter.title == 'US Travel' %}
                    <ul class="f-group">
                        <li>
                            <input id="cat2" type="checkbox" name="category[2][]" value="2"{% if rootCat == 2 or (app.session.get('category')[2] is defined and 2 in app.session.get('category')[2]) %} checked="checked"{% endif %}/>
                            <label for="cat2"{% if (app.session.get('category')[2] is defined and 2 in app.session.get('category')[2]) %} class="active"{% endif %}>U.S. Travel</label>
                            <select id="catState" name="category[2][]" multiple="multiple">
{%         for child in filter.__children %}
                                <option value="{{ child.id }}"{% if (app.session.get('category')[2] is defined and child.id in app.session.get('category')[2]) %} selected="selected"{% endif %}>{{ child.title }}</option>
{%         endfor %}
                            </select>
                        </li>
                    </ul>
{%     else %}
                    <ul class="f-group">
                        <li>
                            <input id="cat{{ filter.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ filter.id }}"{% if filter.id == rootCat or (app.session.get('category')[filter.id] is defined and filter.id in app.session.get('category')[filter.id]) %} checked="checked"{% endif %}/>
                            <label for="cat{{ filter.id }}"{% if filter.id == rootCat or (app.session.get('category')[filter.id] is defined and filter.id in app.session.get('category')[filter.id]) %} class="active"{% endif %}>{{ filter.title }}</label>
{%         if filter.__children %}
{%             set open = false %}
{%             set count = 0 %}
{%             for child in filter.__children %}
{%                 set count = count + 1 %}
{%                 if child.id == rootCat and count > 2 %}
{%                     set open = true %}
{%                 endif %}
{%             endfor %}
                            <ul{% if open %} class="more-shown"{% endif %}>
{%             for child in filter.__children %}
                                <li><input id="cat{{ child.id }}" type="checkbox" name="category[{{ filter.id }}][]" value="{{ child.id }}"{% if child.id == rootCat or (app.session.get('category')[filter.id] is defined and child.id in app.session.get('category')[filter.id]) %} checked="checked"{% endif %}/>
                                <label for="cat{{ child.id }}"{% if child.id == rootCat or (app.session.get('category')[filter.id] is defined and child.id in app.session.get('category')[filter.id]) %} class="active"{% endif %}>{{ child.title }}</label></li>
{%             endfor %}
                            </ul>
{%         endif %}
                        </li>
{%         if filter.__children %}
                        <li class="f-g-sm"><span class="sm-label">Show {% if open %}Less{% else %}More{% endif %}</span> <span aria-hidden="true" class="icon-arrow-{% if open %}up{% else %}right{% endif %} icon"></span></li>
{%         endif %}
                    </ul>
{%     endif %}
{% endfor %}
                </section>
            </div>
            
            <div class="pl-results">
                <div class="row pl-sort">
                    <ul>
                        <li><a href="#" {% if app.session.get('filter') == 'all' or (not app.session.has('filter')) %}class="selected"{% endif %} data-filter="all">All</a></li>
                        <li><a href="#" {% if app.session.get('filter') == 'popular' %}class="selected"{% endif %} data-filter="popular">Most Popular</a></li>
                        <li><a href="#" {% if app.session.get('filter') == 'newest' %}class="selected"{% endif %} data-filter="newest">Newest</a></li>
                    </ul>
                    
                    <div class="pl-sort-select">
                        <select id="sortOrder" name="sortOrder">
                            <option {% if app.session.get('sortOrder') == 'alpha-asc' or (not app.session.has('sortOrder')) %}selected="selected"{% endif %} value="alpha-asc">Alphabetical A-Z</option>
                            <option {% if app.session.get('sortOrder') == 'alpha-desc' %}selected="selected"{% endif %} value="alpha-desc">Alphabetical Z-A</option>
                            <option {% if app.session.get('sortOrder') == 'price-desc' %}selected="selected"{% endif %} value="price-desc">Price High-Low</option>
                            <option {% if app.session.get('sortOrder') == 'price-asc' %}selected="selected"{% endif %} value="price-asc">Price Low-High</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <ul class="pl-items">
{% render controller('InertiaWinspireBundle:Default:packageSearch', {'q': q, 'catIds': catIds, 'subdomain': app.request.get('subdomain')}) %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
