            <div id="nav-site">
                <div class="c-wrap">
                    <nav id="site-nav">
                        <ul class="inline-nav">
                            <li id="nav-experiences">
                                <a href="#" class="has-sub">Experiences<span aria-hidden="true" class="icon-arrow-down"></span></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        Experiences<span aria-hidden="true" class="icon-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel">
                                        <div class="panel-inner">
                                            <ul>
{% set count = 1 %}
{% for categoriesColumn in categories %}
                                                <li>
                                                    <ul class="sub-set">
{%     for category in categoriesColumn %}
{%         if category.open %}
                                                        <li>
                                                            <a href="{{ path('packageList', {'slug': category.slug}) }}">{{ category.title }}</a>
                                                            <ul>
{%             for sub in category.__children %}
                                                                <li><a href="{{ path('packageList', {'slug': sub.slug}) }}">{{ sub.title }}</a></li>
{%             endfor %}
                                                            </ul>
                                                        </li>
{%         else %}
                                                        <li><a href="{{ path('packageList', {'slug': category.slug}) }}">{{ category.title }}</a></li>
{%         endif %}
{%     endfor %}
                                                    </ul>
{%     if count == 4 %}
                                                    <ul class="sub-set all-experiences">
                                                        <li><a href="{{ path('packageList') }}">All Experiences</a></li>
                                                        <li><hr/></li>
                                                        <li><a href="#">Most Popular</a></li>
                                                        <li><a href="#">Newest</a></li>
                                                    </ul>
{%     endif %}
{%     set count = count + 1 %}
                                                </li>
{% endfor %}
                                            </ul>
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="has-sub">How it Works<span aria-hidden="true" class="icon-arrow-down"></span></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        How it Works<span aria-hidden="true" class="icon-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel" id="sub-howitworks">
                                        <div class="panel-inner">
                                            <ul>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'how-winspire-works'}) }}">How does Winspire work?</a></li>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}">FAQs</a></li>
                                            </ul>
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" class="has-sub">Why Winspire<span aria-hidden="true" class="icon-arrow-down"></span></a>
                                <div class="nav-sub">
                                    <a class="nav-tab" href="#">
                                        Why Winspire<span aria-hidden="true" class="icon-arrow-down"></span>
                                    </a>
                                    <div class="drop-panel" id="sub-whywinspire">
                                        <div class="panel-inner">
                                            <ul>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'why-winspire'}) }}">Why Winspire</a></li>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'why-different'}) }}">Why We're Different</a></li>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
                                                <li><a href="{{ path('pageDisplay', {'slug': 'testimonials'}) }}">Testimonials</a></li>
                                            </ul>
                                            <div class="reset">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="{{ path('pageDisplay', {'slug': 'winning-bidders'}) }}" class="no-sub">Winning Bidders</a></li>
                        </ul>
                    </nav>
                    <div id="site-search">
                        <input type="text" class="search-text" placeholder="Search for Experiences..."/>
                        <input type="button" class="search-submit" value="Search"/>
                        <div id="site-search-result">
                            <div class="panel-inner">
                                <ul>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end c-wrap -->
            </div>
            <!-- end nav-site -->