{% extends "InertiaWinspireBundle::layout.html.twig" %}

{% block title %}Winspire | My Suitcase{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="con-sc">
    <div id="sc-header">
        <div class="c-wrap">
            <div>
                <h1><span class="icon icon-suitcase-{% if suitcase.status != 'U' %}locked{% else %}2{% endif %}"></span> <em>my</em> Suitcase</h1>
                <p>Welcome to the <strong>{{ suitcase.eventName }}</strong> Suitcase created by <strong>{{ user.firstName }} {{ user.lastName }}</strong>! Please review my choices and provide comments below.
                <p>Note: You won’t be able to make any changes to <strong><em>my</em>Suitcase</strong>.</p>
            </div>
{{ include('InertiaWinspireBundle:Suitcase:owner.html.twig', {'owner': suitcase.user}) }}
        </div>
    </div>
    <div id="sc-area" class="suitcase">
        <div class="c-wrap shadow-wrapper">
            <div class="header drop-shadow curved curved-hz-1">
                <ul class="key unpacked"{% if suitcase.status != 'U' %} style="display:none;"{% endif %}>
                    <li><span class="definitely">{{ counts['D'] + counts['E'] }}</span> Definitely</li>
                    <li><span class="maybe">{{ counts['M'] }}</span> Maybe</li>
                    <li><span class="recommended">{{ counts['R'] }}</span> {{ suitcase.user.company.salesperson.firstName }} Recommends</li>
                </ul>
                <ul class="key packed"{% if suitcase.status == 'U' %} style="display:none;"{% endif %}>
                    <li>There are <strong><span class="suitcase-count">{{ suitcase.items | length }} items</span></strong> in the Suitcase.</li>
                </ul>
                <ul class="social">
                    <li class="comments"><a href="#"><span class="icon icon-comment"></span><span class="comment-count">{{ suitcase.comments | length }}</span> Comments</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="holder">
                    <img style="cursor:pointer; display:block; position:absolute; left:71px; top:18px" src="/img/temp-dropdown.png" alt=""/>
                    <div class="pager">
                        <a class="pager-all" href="#">View All</a>
                        <div class="pager-nav">
                            <a class="pager-prev" href="#"><span class="icon-arrow-left"></span></a>
                            <span class="pager-count"><span class="pager-current">1</span> of <span class="pager-total">{{ pages }}</span></span>
                            <a class="pager-next" href="#"><span class="icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <ul style="width:984px;">
                    <li class="clearfix suitcase-page">
                        <ul>
{% set count = 1 %}
{% set total = 1 %}
{% for item in suitcase.items %}
                            <li class="p{{ count }}" data-id="{{ item.package.id }}">
                                <div class="package drop-shadow lifted4">
                                    <img class="thumbnail" src="//assets.winspireme.com/packages/{{ item.package.thumbnail }}" width="200" height="132" alt=""/>
                                    <h4>{{ item.package.parentHeader }}</h4>
{%     if true %}
                                    <ul class="pd-detailpanel">
                                        {% if item.package.persons %}<li><span aria-hidden="true" class="icon-user icon"></span> <span class="pd-c-usercount">{{ item.package.persons }}</span></li>{% endif %}
                                        {% if item.package.accommodations %}<li><span aria-hidden="true" class="icon-bed icon"></span> <span class="pd-c-nightcount">{{ item.package.accommodations }}</span></li>{% endif %}
                                        {% if item.package.airfares %}<li><span aria-hidden="true" class="icon-airplane icon"></span> <span class="pd-c-airfare">{{ item.package.airfares }}</span></li>{% endif %}
                                    </ul>
{%     endif %}
                                    <div class="item-open"><span class="icon-play"></span></div>
                                    <div class="expanded">
                                        <h3>{{ item.package.parentHeader }}</h3>
                                        <h5>{{ item.package.name }}</h5>
                                        <p class="srv">{{ item.package.suggestedRetailValue }} <span>Suggested Retail Value</span></p>
                                        <p>${{ item.package.cost | number_format }} Nonprofit Cost</p>
                                        <div class="actions" data-id="{{ item.package.id }}">
                                            <a href="{{ path('packageDetail', { 'slug': item.package.slug }) }}" class="more"><span class="icon-plus"></span>More Details</a>
{%     if downloadLinks[item.package.id] %}
                                            <a href="{{ path('packageDownload', {'versionId': downloadLinks[item.package.id]}) }}" class="download"><span class="icon-download"></span>Download Info</a>
{%     endif %}
                                        </div>
                                        <div class="item-close"><span class="icon-minus"></span></div>
                                    </div>
                                </div>
                                <a data-id="{{ item.package.id }}" data-status="{{ item.status }}" class="flag{% if is_granted('ROLE_USER') and suitcase.status != 'U' %} active{% endif %} {% if item.status == 'M' %}maybe{% endif %}{% if item.status == 'D' or item.status == 'E' %}definitely{% endif %}{% if item.status == 'R' %}recommended{% endif %}" href="#"></a>
                            </li>
{%     if (total < suitcase.items | length) and (count % 6 == 0) %}
                        </ul>
                    </li>
                    <li class="clearfix suitcase-page">
                        <ul>
{%         set count = 0 %}
{%     endif %}
{%     set count = count + 1 %}
{%     set total = total + 1 %}
{% endfor %}
                        </ul>
                    </li>
                </ul>
                <!-- Next/Prev -->
                <div id="suitcase-next" class="suitcase-nav forward">
                    <span aria-hidden="true" class="icon-arrow-right"></span>
                    <div class="tab-behind"></div>
                </div>
                <div id="suitcase-prev" class="suitcase-nav backward">
                    <span aria-hidden="true" class="icon-arrow-left"></span>
                    <div class="tab-behind"></div>
                </div>
                <!-- Next/Prev -->
                <div class="holder holder2">
                    <div class="pager">
                        <div class="pager-nav">
                            <a class="pager-prev" href="#"><span class="icon-arrow-left"></span></a>
                            <span class="pager-count"><span class="pager-current">1</span> of <span class="pager-total">{{ pages }}</span></span>
                            <a class="pager-next" href="#"><span class="icon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer drop-shadow curved curved-hz-bottom">
            </div>
        </div>
    </div>
    
    <div id="comment-area">
        <div class="c-wrap shadow-wrapper">
            <div class="header drop-shadow curved curved-hz-1">
                <h3>Comments</h3>
                <ul class="social">
                    <li class="comments"><a href="#"><span class="icon icon-comment"></span><span class="comment-count">{{ suitcase.comments | length }}</span> Comments</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="commentary">
{% for comment in suitcase.comments %}
                    <div class="comment">
                        <p><strong>{{ comment.name }}</strong> <span class="timestamp">{{ comment.created | date('M j, Y, g:i a') }}</span></p>
                        <p>{{ comment.message | nl2br }}</p>
                        <hr/>
                    </div>
{% endfor %}
                </div>
                <form id="comment-form" action={{ path('shareComment', {'id': suitcase.id, 'token': token}) }} method="post">
                    <textarea name="message" placeholder="Share your comments with everyone that is invited to this Suitcase."></textarea>
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
