                <ul id="test" data-event="{{ suitcase.name }}" data-date="{{ suitcase.eventDate | date('m/d/Y') }}" data-np="{{ suitcase.user.company.name }}" data-first="{{ suitcase.user.firstName }}" data-last="{{ suitcase.user.lastName }}">
{% for item in suitcase.items %}
{%     if item.quantity > 0 %}
                    <li class="clearfix" data-header="{{ item.package.parentHeader }}" data-code="{{ item.package.code }}" data-name="{{ item.package.name }}">
                        <div class="package drop-shadow expanded lifted4" data-id="{{ item.id }}">
                            <div class="clearfix">
                                <img class="thumbnail" src="/uploads/packages/{{ item.package.thumbnail }}" width="129" height="85" alt=""/>
                                <div class="expanded">
                                    <h4>{{ item.package.parentHeader }}</h4>
                                    <h5>{{ item.package.name }} ({{ item.package.code }})</h5>
                                </div>
                            </div>
                            <div class="item-price">
                                <p>Enter Winning Bid Amount</p>
                                <div class="amount">
                                    <input type="text" name="price[{{ item.id }}]" id="price_{{ item.id }}"/>
                                    <button>Add</button>
                                </div>
                            </div>
                            <div class="winning-bidders">
                                <h4><em>my</em> Winning Bidder Info</h4>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>First Name *</th>
                                            <th>Last Name *</th>
                                            <th>Email *</th>
                                            <th>Phone *</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{%         for booking in item.bookings  %}
                                        <tr data-code="{% if suitcase.status == 'A' %}{{ booking.certificateId }}{% endif %}">
                                            <td class="number"><span>{{ loop.index }}</span></td>
                                            <td class="first-name">
                                                <input {% if booking.email != '' %}style="display:none;" {% endif %}type="text" name="booking[first]" value="{{ booking.firstName }}"/>
                                                <span{% if booking.email == '' %} style="display:none;"{% endif %}>{{ booking.firstName }}</span>
                                            </td>
                                            <td class="last-name">
                                                <input {% if booking.email != '' %}style="display:none;" {% endif %}type="text" name="booking[last]" value="{{ booking.lastName }}"/>
                                                <span{% if booking.email == '' %} style="display:none;"{% endif %}>{{ booking.lastName }}</span>
                                            </td>
                                            <td class="email">
                                                <input {% if booking.email != '' %}style="display:none;" {% endif %}type="text" name="booking[email]" value="{{ booking.email }}"/>
                                                <span{% if booking.email == '' %} style="display:none;"{% endif %}>{{ booking.email }}</span>
                                            </td>
                                            <td class="phone">
                                                <input {% if booking.email != '' %}style="display:none;" {% endif %}type="text" name="booking[phone]" value="{{ booking.phone }}"/>
                                                <span{% if booking.email == '' %} style="display:none;"{% endif %}>{{ booking.phone }}</span>
                                            </td>
                                            <td class="actions">
                                                {% if booking.email == '' %}<button class="add" data-id="{{ booking.id }}">Add</button>{% endif %}
                                                <button{% if booking.email == '' %} style="display:none;"{% endif %} class="edit {% if booking.voucherSent %}disabled{% else %}neutral{% endif %}" {% if booking.voucherSent %}disabled="disabled" {% endif %}data-id="{{ booking.id }}"><span class="icon icon-pencil"></span></button>
                                                <button{% if booking.email == '' %} style="display:none;"{% endif %}{% if suitcase.status != 'A' %} disabled="disabled"{% endif %} class="mail {% if suitcase.status == 'A' %}neutral{% else %}disabled{% endif %}" data-id="{{ booking.id }}"><span class="icon icon-envelope"></span></button>
                                            </td>
                                        </tr>
{%         endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
{%     endif %}
{% endfor %}
                </ul>