<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<title>{% block title %}Winspire{% endblock %}</title>

<link rel="alternate" href="{{ urls['ca'] }}{{ app.request.pathInfo }}" hreflang="en-ca" />
<link rel="alternate" href="{{ urls['us'] }}{{ app.request.pathInfo }}" hreflang="en" />

<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content="{% block description %}{% endblock %}">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="google-site-verification" content="V6WLzyRTE5dLhdEEfhQCCPMqnhDPf6adE6bxraIwF_A">

<!-- Styles -->
{% stylesheets output="css/style.css"
'css/less/icom.less'
'css/less/main.less'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
<!--[if gte IE 9]><style type="text/css"> .gradient { filter: none; } </style><![endif]-->
{% block style %}{% endblock %}

<!-- Scripts -->
{% block js %}
<script src="/js/vendor/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/modernizr-2.6.1.min.js"></script>
<script src="/js/vendor/jquery.carousel.js"></script>
<script src="/js/vendor/jquery.cycle2.min.js"></script>
<script src="/js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/js/vendor/jquery.cycle2.swipe.min.js"></script>
<script src="/js/vendor/waypoints.min.js"></script>
<script src="/js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/vendor/jquery.multiselect.min.js"></script>
<script src="/js/vendor/jquery.selectboxit.min.js"></script>
<script src="/js/vendor/jquery.modal.min.js"></script>
<script src="/js/vendor/jquery.tooltipster.min.js"></script>
<script src="/js/vendor/jquery.easytabs.min.js"></script>
<script src="/js/vendor/jquery.fs.stepper.js"></script>

<script src="/js/vendor/jquery.validate.min.js"></script>

<script src="/js/vendor/jquery.ba-bbq.min.js"></script>
<script src="/js/vendor/spin.min.js"></script>

<script src="/js/vendor/jmpress.min.js"></script>
<script src="/js/jquery.homeslideshow.js"></script>

<script src="/js/vendor/twig.min.js"></script>
{% endblock %}
{% if app.environment == 'dev' %}
<script>
var env = '/app_dev.php';
</script>
{% endif %}
</head>
<body>
	<div class="container">
		<header>
			<div id="nav-core">
				<div class="c-wrap">

					<a href="{{ path('home') }}" id="core-home"> <img src="/img/ws-logo.png" alt="Winspire"/>
					</a>
{% if not app.user %}
{%     render controller('InertiaWinspireBundle:Default:loginWidget') %}
{% else %}
{%     render controller('InertiaWinspireBundle:Suitcase:buttonWidget') %}
{% endif %}
                    <nav id="core-nav">
                        <ul class="inline-nav">
                            <li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
                            <li><a href="http://blog.winspireme.com" target="_blank">Blog</a></li>
                            <li><a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}">FAQs</a></li>
                            <li><a href="{{ path('contactUs') }}">Contact Us</a></li>
{% if app.user and is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('suitcaseAdmin') }}">Admin</a></li>
{% endif %}

                        </ul>
                    </nav>
				</div>
				<!-- end c-wrap -->
			</div>
			<!-- end nav-core -->
{% render controller('InertiaWinspireBundle:Default:siteNav') %}
		</header>

		<div class="content">
			{% block content %} {% endblock %}
		</div>

        <footer>
            <div class="c-wrap">
                <div id="nav-social">
                    <img src="/img/ws-ftr-socialbg.png" class="social-bg" width="403" height="149" alt=""/>
                    <h5>Be Our Buddy!</h5>
                    <nav id="social-nav">
                        <ul>
                            <li><a class="facebook" href="https://facebook.com/winspire" target="_blank">Facebook</a></li>
                            <li><a class="twitter" href="https://twitter.com/winspireme" target="_blank">Twitter</a></li>
                            <li><a class="pinterest" href="http://pinterest.com/winspireme/" target="_blank">Pinterest</a></li>
                            <li><a class="google" href="https://plus.google.com/b/104131278881454046791/104131278881454046791" target="_blank">Google+</a></li>
                            <li><a class="newsletter" href="http://you.winspireme.com/winspire-news-subscribe" target="_blank">Our Newsletter</a></li>
                        </ul>
                    </nav>
                </div>

				<div id="nav-sitemap">
					<nav id="sitemap-nav">
						<ul class="inline-nav">
							<li><a href="{{ path('packageList') }}">Experiences</a></li>
							<li><a href="{{ path('pageDisplay', {'slug': 'how-winspire-works'}) }}">How Winspire Works</a>
								<ul>
									<li><a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}">FAQs</a></li>
								
								</ul>
							</li>
							<li><a href="{{ path('pageDisplay', {'slug': 'why-winspire'}) }}">Why Winspire</a>
								<ul>
									<li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
									
									<li><a href="{{ path('pageDisplay', {'slug': 'testimonials'}) }}">Testimonials</a></li>
								
								</ul>
							</li>
							<li><a href="{{ path('pageDisplay', {'slug': 'winning-bidders'}) }}">Winning Bidders</a></li>
							<li><a href="{{ path('contactUs') }}">Contact Us</a>
								<ul>
									<li><a href="http://blog.winspireme.com">Blog</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
                
                <div id="nav-legal">
                    <nav id="legal-nav">
                        <ul class="inline-nav">
                            <li><a href="{{ path('pageDisplay', {'slug': 'terms'}) }}">Terms of Use</a></li>
                            <li><a href="{{ path('pageDisplay', {'slug': 'privacy'}) }}">Privacy Policy</a></li>
{% if app.user and is_granted('ROLE_USER') %}
                            <li><a href="{{ path('pageDisplay', {'slug': 'loa'}) }}">Letter of Agreement</a></li>
{% endif %}
                            <li>CST# 2094258-40</li>
                            <li><span id="legal-copyright"> <a href="{{ path('pageDisplay', {'slug': 'copyright'}) }}">&copy; {{ 'now' | date('Y') }} Winspire All Rights Reserved</a> </span></li>
                        </ul>
                    </nav>

                    <div id="country-select">
                        <dl class="dropdown">
                            <dt>
{% if app.request.locale == 'us' %}
                                <a href="#"><span class="flag us"></span><em>United States</em></a>
{% endif %}
{% if app.request.locale == 'ca' %}
                                <a href="#"><span class="flag ca"></span><em>Canada</em></a>
{% endif %}
                            </dt>
                            <dd>
                                <ul>
                                    <li>
                                        <a href="{{ urls['us'] }}?_locale=us"><span class="flag us"></span><em>United States</em></a>
                                    </li>
                                    <li>
                                        <a href="{{ urls['ca'] }}?_locale=ca"><span class="flag ca"></span><em>Canada</em></a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /container -->


    <script>
{% if app.user %}
        var user = true;
{% else %}
        var user = false;
{% endif %}
    </script>

{% if app.user and is_granted('ROLE_USER') %}
{%     render controller('InertiaWinspireBundle:Suitcase:Create') %}
{% endif %}

{% if app.user and is_granted('ROLE_USER') and (app.session.get('sid')) and app.request.get('_route') != 'suitcaseView' and app.request.get('_route') != 'suitcaseAdmin' %}
{%     render controller('InertiaWinspireBundle:Suitcase:Preview') %}
{% endif %}
    {% block jsBottom %}
    <script src="/js/main.min.js"></script>
    {% endblock %}
{% if app.environment == 'prod' and (app.request.host == 'winspireme.com' or app.request.host == 'www.winspireme.com' or app.request.host == 'winspireme.ca' or app.request.host == 'www.winspireme.ca') %}
{%     if app.request.host == 'winspireme.ca' or app.request.host == 'www.winspireme.ca' %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-4391760-5', 'winspireme.ca');
        ga('send', 'pageview');
    </script>
{%     else %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-4391760-1', 'winspireme.com');
        ga('send', 'pageview');
    </script>
{%     endif %}
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/297253.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code --> 
{% endif %}
    <script>
        var $buoop = {vs:{i:8,f:20,o:11,s:4,n:9}};
        $buoop.ol = window.onload;
        window.onload=function(){
            try {if ($buoop.ol) $buoop.ol();}catch (e) {}
            var e = document.createElement("script");
            e.setAttribute("type", "text/javascript");
            e.setAttribute("src", "/js/vendor/update.min.js");
            document.body.appendChild(e);
        }
    </script>
</body>
</html>