<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<title>{% block title %}Winspire{% endblock %}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content="{% block description %}{% endblock %}">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<meta name="google-site-verification" content="V6WLzyRTE5dLhdEEfhQCCPMqnhDPf6adE6bxraIwF_A">

<!-- Styles -->
{% stylesheets output="css/style.css"
'css/less/icom.less'
'css/less/main.less'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
<!--[if gte IE 9]><style type="text/css"> .gradient { filter: none; } </style><![endif]-->
{% block style %}{% endblock %}

<!-- Scripts -->
{% block js %}
<script src="/js/vendor/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/modernizr-2.6.1.min.js"></script>
<script src="/js/vendor/jquery.carousel.js"></script>
<script src="/js/vendor/jquery.cycle2.min.js"></script>
<script src="/js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/js/vendor/jquery.cycle2.swipe.min.js"></script>
<script src="/js/vendor/waypoints.min.js"></script>
<script src="/js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
<script src="/js/vendor/jquery.multiselect.min.js"></script>
<script src="/js/vendor/jquery.selectboxit.min.js"></script>
<script src="/js/vendor/jquery.modal.min.js"></script>
<script src="/js/vendor/jquery.tooltipster.min.js"></script>
<script src="/js/vendor/jquery.easytabs.min.js"></script>
<script src="/js/vendor/jquery.fs.stepper.js"></script>

<script src="/js/vendor/jquery.validate.min.js"></script>

<script src="/js/vendor/jquery.ba-bbq.min.js"></script>
<script src="/js/vendor/spin.min.js"></script>

<script src="/js/vendor/jmpress.min.js"></script>
<script src="/js/jquery.homeslideshow.js"></script>

<script src="/js/vendor/twig.min.js"></script>
{% endblock %}
{% if app.environment == 'dev' %}
<script>
var env = '/app_dev.php';
</script>
{% endif %}
</head>
<body>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<style>
.chromeFrameInstallDefaultStyle {
    width: 100%; /* default is 800px */
    border: 5px solid blue;
}
</style>

<div id="prompt">
</div>

<script>
// The conditional ensures that this code will only execute in IE,
// Therefore we can use the IE-specific attachEvent without worry
window.attachEvent("onload", function() {
    CFInstall.check({
        mode: "overlay",
        node: "prompt"
    });
});
</script>
<![endif]-->

	<div class="container">
		<header>
			<div id="nav-core">
				<div class="c-wrap">

					<a href="{{ path('home') }}" id="core-home"> <img src="/img/ws-logo.png" alt="Winspire"/>
					</a>
{% if not app.user %}
{%     render "InertiaWinspireBundle:Default:loginWidget" %}
{% else %}
{%     render "InertiaWinspireBundle:Suitcase:buttonWidget" %}
{% endif %}
                    <nav id="core-nav">
                        <ul class="inline-nav">
                            <li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
                            <li><a href="http://www.winspireme.com/blog/" target="_blank">Blog</a></li>
                            <li><a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}">FAQs</a></li>
                            <li><a href="{{ path('contactUs') }}">Contact Us</a></li>
{% if app.user and is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('suitcaseAdmin') }}">Admin</a></li>
{% endif %}

                        </ul>
                    </nav>
				</div>
				<!-- end c-wrap -->
			</div>
			<!-- end nav-core -->
{% render "InertiaWinspireBundle:Default:siteNav" %}
		</header>

		<div class="content">
			{% block content %} {% endblock %}
		</div>

		<footer>
			<div class="c-wrap">
				<div id="nav-social">
					<img src="/img/ws-ftr-socialbg.png" class="social-bg" width="403" height="149" alt=""/>
					<h5>Be Our Buddy...</h5>
					<nav id="social-nav">
						<ul class="inline-nav">
							<li><a href="https://facebook.com/winspire" target="_blank"><span aria-hidden="true"
									class="icon-facebook"></span> </a></li>
							<li><a href="https://twitter.com/winspireme" target="_blank"><span aria-hidden="true"
									class="icon-twitter"></span> </a></li>
							<li><a href="https://plus.google.com/b/104131278881454046791/104131278881454046791" target="_blank"><span aria-hidden="true"
									class="icon-google-plus"></span> </a></li>
							<li><a href="http://info.winspireme.com/newsletter-subscribe" target="_blank"><span aria-hidden="true"
									class="icon-envelope"></span> </a></li>
						</ul>
					</nav>
				</div>

				<div id="nav-sitemap">
					<nav id="sitemap-nav">
						<ul class="inline-nav">
							<li><a href="{{ path('packageList') }}">Experiences</a></li>
							<li><a href="{{ path('pageDisplay', {'slug': 'how-winspire-works'}) }}">How Winspire Works</a>
								<ul>
									<li><a href="{{ path('pageDisplay', {'slug': 'faqs'}) }}">FAQs</a></li>
								
								</ul>
							</li>
							<li><a href="{{ path('pageDisplay', {'slug': 'why-winspire'}) }}">Why Winspire</a>
								<ul>
									<li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
									
									<li><a href="{{ path('pageDisplay', {'slug': 'testimonials'}) }}">Testimonials</a></li>
								
								</ul>
							</li>
							<li><a href="{{ path('pageDisplay', {'slug': 'winning-bidders'}) }}">Winning Bidders</a></li>
							<li><a href="{{ path('contactUs') }}">Contact Us</a>
								<ul>
									<li><a href="http://www.winspireme.com/blog/" target="_blank">Blog</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
                
                <div id="nav-legal">
                    <nav id="legal-nav">
                        <ul class="inline-nav">
                            <li><a href="{{ path('pageDisplay', {'slug': 'terms'}) }}">Terms of Use</a></li>
                            <li><a href="{{ path('pageDisplay', {'slug': 'privacy'}) }}">Privacy Policy</a></li>
{% if app.user and is_granted('ROLE_USER') %}
                            <li><a href="{{ path('pageDisplay', {'slug': 'loa'}) }}">Letter of Agreement</a></li>
{% endif %}
                            <li>CST# 2094258-40</li>
                        </ul>
                    </nav>
                    <span id="legal-copyright"> <a href="{{ path('pageDisplay', {'slug': 'copyright'}) }}">&copy; {{ 'now' | date('Y') }} Winspire All Rights Reserved</a> </span>
                </div>
            </div>
        </footer>
    </div>
    <!-- /container -->


    <script>
{% if app.user %}
        var user = true;
{% else %}
        var user = false;
{% endif %}
    </script>

{% if app.user and is_granted('ROLE_USER') and (app.session.get('sid')) and app.request.get('_route') != 'suitcaseView' and app.request.get('_route') != 'suitcaseAdmin' %}
{%     render "InertiaWinspireBundle:Suitcase:Preview" %}
{% endif %}
    {% block jsBottom %}
    <script src="/js/main.min.js"></script>
    {% endblock %}
{% if app.environment == 'prod' and (app.request.host == 'winspireme.com' or app.request.host == 'www.winspireme.com') %}
    <script>
        var _gaq=[['_setAccount','UA-4391760-1'],['_trackPageview']];
        _gaq.push(['b._setAccount', 'UA-40010128-1'], ['b._trackPageview']);
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <!-- Start of Async HubSpot Analytics Code -->
    <script type="text/javascript">
        (function(d,s,i,r) {
            if (d.getElementById(i)){return;}
            var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
            n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/297253.js';
            e.parentNode.insertBefore(n, e);
        })(document,"script","hs-analytics",300000);
    </script>
    <!-- End of Async HubSpot Analytics Code --> 
{% endif %}
</body>
</html>