<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<title>{% block title %}Winspire{% endblock %}</title>

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<!-- Styles -->
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/normalize.min.css">
{% stylesheets output="css/style.css"
'css/less/main.less'
'css/less/icom.less'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
<!--[if gte IE 9]><style type="text/css"> .gradient { filter: none; } </style><![endif]-->

<!-- Scripts -->
<script src="/js/vendor/jquery-1.8.3.min.js"></script>
<script src="/js/vendor/modernizr-2.6.1.min.js"></script>
<script src="/js/vendor/jquery.carousel.js"></script>
<script src="/js/vendor/jquery.cycle2.min.js"></script>
<script src="/js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/js/vendor/jquery.cycle2.swipe.min.js"></script>
<script src="/js/vendor/waypoints.min.js"></script>
<script src="/js/vendor/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/vendor/jquery.multiselect.min.js"></script>
<script src="/js/vendor/jquery.selectboxit.min.js"></script>
<script src="/js/vendor/jquery.modal.min.js"></script>
<script src="/js/vendor/jquery.tooltipster.min.js"></script>
<script src="/js/vendor/jquery.easytabs.min.js"></script>

<script src="/js/vendor/jquery.validate.min.js"></script>

<script src="/js/vendor/jquery.history.min.js"></script>
<script src="/js/vendor/spin.min.js"></script>

<script src="/js/vendor/jmpress.min.js"></script>
<script src="/js/jquery.homeslideshow.js"></script>

<script src="/js/vendor/twig.js"></script>
{% if app.environment == 'dev' %}
<script>
var env = '/app_dev.php';
</script>
{% endif %}
</head>
<body>
	<!--[if lt IE 7]><p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p><![endif]-->

	<div class="container">
		<header>

			<div id="nav-core">
				<div class="c-wrap">

					<a href="{{ path('home') }}" id="core-home"> <img src="/img/ws-logo.png" alt="Winspire"/>
					</a>
{% if not is_granted('ROLE_USER') %}
{%     render "InertiaWinspireBundle:Default:loginWidget" %}
{% else %}
{%     render "InertiaWinspireBundle:Suitcase:buttonWidget" %}
{% endif %}
                    <nav id="core-nav">
                        <ul class="inline-nav">
                            <li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Contact Us</a></li>
{% if is_granted('ROLE_USER') %}
                            <li><a href="#">My Account</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
{% endif %}
                        </ul>
                    </nav>
				</div>
				<!-- end c-wrap -->
			</div>
			<!-- end nav-core -->
{% render "InertiaWinspireBundle:Default:siteNav" with {'max': 3} %}
		</header>

		<div class="content">
			{% block content %} {% endblock %}
		</div>

		<footer>
			<div class="c-wrap">
				<div id="nav-social">
					<img src="/img/ws-ftr-socialbg.png" class="social-bg" alt=""/>
					<nav id="social-nav">
						<ul class="inline-nav">
							<li><a href="#"><span aria-hidden="true"
									class="icon-facebook"></span> </a></li>
							<li><a href="#"><span aria-hidden="true"
									class="icon-twitter"></span> </a></li>
							<li><a href="#"><span aria-hidden="true"
									class="icon-youtube"></span> </a></li>
							<li><a href="#"><span aria-hidden="true"
									class="icon-envelope"></span> </a></li>
						</ul>
					</nav>
				</div>

				<div id="nav-sitemap">
					<nav id="sitemap-nav">
						<ul class="inline-nav">
							<li><a href="{{ path('packageList') }}">Experiences</a></li>
							<li><a href="#">How Winspire Works</a>
								<ul>
									<li><a href="#">FAQs</a></li>
								
								</ul>
							</li>
							<li><a href="#">Why Winspire</a>
								<ul>
									<li><a href="{{ path('pageDisplay', {'slug': 'about-us'}) }}">About Us</a></li>
									
									<li><a href="#">Testimonials</a></li>
								
								</ul>
							</li>
							<li><a href="#">Winning Bidders</a></li>
							<li><a href="#">Contact Us</a>
								<ul>
									<li><a href="#">Resources</a></li>
									
									<li><a href="#">Blog</a></li>
								
								</ul>
							</li>
						</ul>
					</nav>
				</div>
                
                <div id="nav-legal">
                    <nav id="legal-nav">
                        <ul class="inline-nav">
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
{% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('pageDisplay', {'slug': 'loa'}) }}">Letter of Agreement</a></li>
{% endif %}
                            <li>CST# 2094258-40</li>
                        </ul>
                    </nav>
                    <span id="legal-copyright"> &copy; {{ 'now' | date('Y') }} Winspire All Rights Reserved </span>
                </div>
            </div>
		</footer>
	</div>
	<!-- /container -->
	
	
{% if is_granted('ROLE_USER') and app.request.get('_route') != 'suitcaseView' %}
{%     render "InertiaWinspireBundle:Suitcase:Preview" %}
{% else %}
{%     if not is_granted('ROLE_USER') %}
{%         render "InertiaWinspireBundle:Account:Create" %}
{%     endif %}
{% endif %}

    <script src="/js/main.js"></script>
    <!-- Uncomment on Production 
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->
</body>
</html>
