<div id="account-modal" data-id="none">
    <h4>Please Create Your Suitcase</h4>
    <p>The Suitcase is where you can collect and save Experiences while you are creating your ultimate auction package.
    You can also invite others in your organization to review and comment on your selections.</p>
    
    <form action="{{ path('accountCreate') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        <ul>
            <li>
                <div>
                    <span style="display:block;">
                        <label for="{{ form.event_name.vars.id }}" class="required" style="float:left;">{{ form.event_name.vars.label }}</label>
                        <span class="tip tooltip" title="Tip: This will also be the name of your Suitcase.">?</span>
                    </span>
                    {{ form_widget(form.event_name, { 'attr': { 'style': 'clear:both; display:block;', 'maxlength': '40' }}) }}
                </div>
                <div>
                    {{ form_label(form.event_date) }}
                    {{ form_widget(form.event_date, { 'attr': { 'class': 'date', 'placeholder': 'MM/DD/YY', 'readonly': 'readonly' }}) }}
                </div>
            </li>
            <li>
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </li>
            <li class="large">
                <div>
                    {{ form_label(form.account.name) }}
                    {{ form_widget(form.account.name) }}
                </div>
            </li>
            <li class="large">
                {{ form_row(form.email) }}
            </li>
            <li>
                {{ form_row(form.plainPassword.first) }}
                <div>
                    {{ form_label(form.plainPassword.second, 'Verify Password') }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </li>
            <li>
                {{ form_row(form.account.country) }}
                {{ form_row(form.account.state) }}
                <div>
                    {{ form_label(form.account.zip) }}
                    {{ form_widget(form.account.zip, { 'attr': {'class': 'zip'} }) }}
                </div>
            </li>
            <li>
                {{ form_row(form.phone) }}
            </li>
            <li class="large">
                {{ form_row(form.referred) }}
            </li>
            <li class="checkbox" style="padding-top:16px;">
                <div>
                    {{ form_widget(form.terms) }}
                    <label for="fos_user_registration_form_terms">I verify that I have read and agree to the <a href="{{ path('pageDisplay', {'slug': 'terms'}) }}" target="_blank">Terms of Use</a> and <a href="{{ path('pageDisplay', {'slug': 'privacy'}) }}" target="_blank">Privacy Policy</a>.</label>
                </div>
            </li>
            <li class="checkbox">
                <div>
                    {{ form_widget(form.newsletter) }}
                    {{ form_label(form.newsletter) }}
                </div>
            </li>
            <li>
                <div>
                    <button type="submit"><span class="icon-suitcase-2"></span><em>Create</em> Suitcase</button>
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.package) }}
                </div>
            </li>
        </ul>
    </form>
    <p>Already have a Winspire account?<br/>
    <a href="{{ path('fos_user_security_login') }}">Sign-in here</a>.
</div>