{% extends 'InertiaWinspireBundle::layout.html.twig' %}

{% block title %}Winspire | Home{% endblock %}

{% block content_header '' %}

{% block content %}
<div id="standard-page" class="account-page">
    <div class="page-content">
        <div class="c-wrap">
            <h1>My Account Information</h1>
            <p>Manage your Suitcases, Contact Information and Login Password.</p>
            
            <div class="wrapper clearfix">
                <div class="" style="float:left; width:360px; padding-right:40px; margin-right:48px;">
                    <div id="contact-info">
                        <h2>Contact Information</h2>
                        <p><span id="contact-info-name">{{ user.firstName }} {{ user.lastName }}</span><br/>
{% if user.type != 'S' %}
                        <span id="contact-info-cname">{{ user.company.name }}</span><br/>
{%     if user.company.address != '' %}
                        <span id="contact-info-address">{{ user.company.address }}</span><br/>
{%     endif %}
{%     if user.company.address2 != '' %}
                        <span id="contact-info-address2">{{ user.company.address2 }}</span><br/>
{%     endif %}
{%     if user.company.city != '' %}
                        <span id="contact-info-city">{{ user.company.city }}, </span><span id="contact-info-state">{{ user.company.state }}</span> <span id="contact-info-zip">{{ user.company.zip }}</span><br/>
{%     else %}
                        <span id="contact-info-city"></span><span id="contact-info-state">{{ user.company.state }}</span> <span id="contact-info-zip">{{ user.company.zip }}</span><br/>
{%     endif %}
                        <span id="contact-info-country">{% if user.company.country == 'CA' %}Canada{% else %}United States{% endif %}</span><br/>
{% endif %}
                        <span id="contact-info-email">{{ user.email }}</span><br/>
                        <span id="contact-info-phone">{{ user.phone }}</span></p>
                        
                        <a href="#" class="button edit">Edit</a>
                    </div>
                    
                    <div id="password-info">
                        <h2>Password</h2>
                        <p>********</p>
                        <a href="#" class="button edit">Edit</a>
                    </div>
                </div>
                
                <div class="" style="float:left; width:468px;">
                <div id="suitcase-info">
                    <h2>Your Suitcases</h2>
                    <table>
{% for suitcase in user.suitcases %}
{%     if suitcase.eventDate == '' or date(suitcase.eventDate) > date() %}
                        <tr data-id="{{ suitcase.id }}">
                            <td class="name" id="name-{{ suitcase.id }}"><strong>{{ suitcase.name }}</strong></td>
                            <td class="date">&nbsp;</td>
                            <td class="action"><a href="#" data-id="{{ suitcase.id }}" class="button edit">Edit</a></td>
                            <td class="action"><a href="#" data-id="{{ suitcase.id }}" class="button delete">Delete</a></td>
                        </tr>
                        <tr data-id="{{ suitcase.id }}">
                            <td id="event-name-{{ suitcase.id }}">{% if suitcase.eventName != '' %}{{ suitcase.eventName }}{% endif %}</td>
                            <td id="event-date-{{ suitcase.id }}">{% if suitcase.eventDate != '' %}{{ suitcase.eventDate | date('m/d/y') }}{% endif %}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr data-id="{{ suitcase.id }}">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
{%     endif %}
{% endfor %}
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="edit-contact-modal" style="display:none;">
    <h3><span class="icon icon-pencil"></span>Edit Your Contact Info</h3>
    <p>If you need to edit your Organization Name or your Contact Name, please contact your Winspire Event Consultant directly.</p>
    
    <form action="{{ path('accountEdit') }}" method="POST" novalidate="novalidate">
        <ul>
{% if user.type != 'S' %}
            <li class="large">
                <div>
                    <label for="contact_address">Address Line 1</label>
                    <input class="required" type="text" name="contact[address]" id="contact_address" value="{{ user.company.address }}"/>
                </div>
            </li>
            <li class="large">
                <div>
                    <label for="contact_address2">Address Line 2</label>
                    <input type="text" name="contact[address2]" id="contact_address2" value="{{ user.company.address2 }}"/>
                </div>
            </li>
            <li class="large">
                <div>
                    <label for="contact_city">City</label>
                    <input class="required" type="text" name="contact[city]" id="contact_city" value="{{ user.company.city }}"/>
                </div>
            </li>
            <li>
                <div>
                    <label for="contact_country">Country</label>
                    <select name="contact[country]" id="contact_country">
                        <option value="CA"{% if user.company.country == 'CA' %} selected="selected"{% endif %}>Canada</option>
                        <option value="US"{% if user.company.country == 'US' %} selected="selected"{% endif %}>United States</option>
                    </select>
                </div>
                <div>
                    <label for="contact_state">State</label>
                    <select id="contact_state" name="contact[state]" required="required">
                        <option value=""></option>
                        <option {% if user.company.state == 'AB' %}selected="selected"{% endif %} value="CA-AB">Alberta</option>
                        <option {% if user.company.state == 'BC' %}selected="selected"{% endif %} value="CA-BC">British Columbia</option>
                        <option {% if user.company.state == 'MB' %}selected="selected"{% endif %} value="CA-MB">Manitoba</option>
                        <option {% if user.company.state == 'NB' %}selected="selected"{% endif %} value="CA-NB">New Brunswick</option>
                        <option {% if user.company.state == 'NL' %}selected="selected"{% endif %} value="CA-NL">Newfoundland and Labrador</option>
                        <option {% if user.company.state == 'NS' %}selected="selected"{% endif %} value="CA-NS">Nova Scotia</option>
                        <option {% if user.company.state == 'NT' %}selected="selected"{% endif %} value="CA-NT">Northwest Territories</option>
                        <option {% if user.company.state == 'NU' %}selected="selected"{% endif %} value="CA-NU">Nunavut</option>
                        <option {% if user.company.state == 'ON' %}selected="selected"{% endif %} value="CA-ON">Ontario</option>
                        <option {% if user.company.state == 'PE' %}selected="selected"{% endif %} value="CA-PE">Prince Edward Island</option>
                        <option {% if user.company.state == 'QC' %}selected="selected"{% endif %} value="CA-QC">Quebec</option>
                        <option {% if user.company.state == 'SK' %}selected="selected"{% endif %} value="CA-SK">Saskatchewan</option>
                        <option {% if user.company.state == 'YT' %}selected="selected"{% endif %} value="CA-YT">Yukon</option>
                        <option {% if user.company.state == 'AL' %}selected="selected"{% endif %} value="US-AL">Alabama</option>
                        <option {% if user.company.state == 'AK' %}selected="selected"{% endif %} value="US-AK">Alaska</option>
                        <option {% if user.company.state == 'AZ' %}selected="selected"{% endif %} value="US-AZ">Arizona</option>
                        <option {% if user.company.state == 'AR' %}selected="selected"{% endif %} value="US-AR">Arkansas</option>
                        <option {% if user.company.state == 'CA' %}selected="selected"{% endif %} value="US-CA">California</option>
                        <option {% if user.company.state == 'CO' %}selected="selected"{% endif %} value="US-CO">Colorado</option>
                        <option {% if user.company.state == 'CT' %}selected="selected"{% endif %} value="US-CT">Connecticut</option>
                        <option {% if user.company.state == 'DE' %}selected="selected"{% endif %} value="US-DE">Delaware</option>
                        <option {% if user.company.state == 'DC' %}selected="selected"{% endif %} value="US-DC">District of Columbia</option>
                        <option {% if user.company.state == 'FL' %}selected="selected"{% endif %} value="US-FL">Florida</option>
                        <option {% if user.company.state == 'GA' %}selected="selected"{% endif %} value="US-GA">Georgia</option>
                        <option {% if user.company.state == 'HI' %}selected="selected"{% endif %} value="US-HI">Hawaii</option>
                        <option {% if user.company.state == 'ID' %}selected="selected"{% endif %} value="US-ID">Idaho</option>
                        <option {% if user.company.state == 'IL' %}selected="selected"{% endif %} value="US-IL">Illinois</option>
                        <option {% if user.company.state == 'IN' %}selected="selected"{% endif %} value="US-IN">Indiana</option>
                        <option {% if user.company.state == 'IA' %}selected="selected"{% endif %} value="US-IA">Iowa</option>
                        <option {% if user.company.state == 'KS' %}selected="selected"{% endif %} value="US-KS">Kansas</option>
                        <option {% if user.company.state == 'KY' %}selected="selected"{% endif %} value="US-KY">Kentucky</option>
                        <option {% if user.company.state == 'LA' %}selected="selected"{% endif %} value="US-LA">Louisiana</option>
                        <option {% if user.company.state == 'ME' %}selected="selected"{% endif %} value="US-ME">Maine</option>
                        <option {% if user.company.state == 'MD' %}selected="selected"{% endif %} value="US-MD">Maryland</option>
                        <option {% if user.company.state == 'MA' %}selected="selected"{% endif %} value="US-MA">Massachusetts</option>
                        <option {% if user.company.state == 'MI' %}selected="selected"{% endif %} value="US-MI">Michigan</option>
                        <option {% if user.company.state == 'MN' %}selected="selected"{% endif %} value="US-MN">Minnesota</option>
                        <option {% if user.company.state == 'MS' %}selected="selected"{% endif %} value="US-MS">Mississippi</option>
                        <option {% if user.company.state == 'MO' %}selected="selected"{% endif %} value="US-MO">Missouri</option>
                        <option {% if user.company.state == 'MT' %}selected="selected"{% endif %} value="US-MT">Montana</option>
                        <option {% if user.company.state == 'NE' %}selected="selected"{% endif %} value="US-NE">Nebraska</option>
                        <option {% if user.company.state == 'NV' %}selected="selected"{% endif %} value="US-NV">Nevada</option>
                        <option {% if user.company.state == 'NH' %}selected="selected"{% endif %} value="US-NH">New Hampshire</option>
                        <option {% if user.company.state == 'NJ' %}selected="selected"{% endif %} value="US-NJ">New Jersey</option>
                        <option {% if user.company.state == 'NM' %}selected="selected"{% endif %} value="US-NM">New Mexico</option>
                        <option {% if user.company.state == 'NY' %}selected="selected"{% endif %} value="US-NY">New York</option>
                        <option {% if user.company.state == 'NC' %}selected="selected"{% endif %} value="US-NC">North Carolina</option>
                        <option {% if user.company.state == 'ND' %}selected="selected"{% endif %} value="US-ND">North Dakota</option>
                        <option {% if user.company.state == 'OH' %}selected="selected"{% endif %} value="US-OH">Ohio</option>
                        <option {% if user.company.state == 'OK' %}selected="selected"{% endif %} value="US-OK">Oklahoma</option>
                        <option {% if user.company.state == 'OR' %}selected="selected"{% endif %} value="US-OR">Oregon</option>
                        <option {% if user.company.state == 'PA' %}selected="selected"{% endif %} value="US-PA">Pennsylvania</option>
                        <option {% if user.company.state == 'RI' %}selected="selected"{% endif %} value="US-RI">Rhode Island</option>
                        <option {% if user.company.state == 'SC' %}selected="selected"{% endif %} value="US-SC">South Carolina</option>
                        <option {% if user.company.state == 'SD' %}selected="selected"{% endif %} value="US-SD">South Dakota</option>
                        <option {% if user.company.state == 'TN' %}selected="selected"{% endif %} value="US-TN">Tennessee</option>
                        <option {% if user.company.state == 'TX' %}selected="selected"{% endif %} value="US-TX">Texas</option>
                        <option {% if user.company.state == 'UT' %}selected="selected"{% endif %} value="US-UT">Utah</option>
                        <option {% if user.company.state == 'VT' %}selected="selected"{% endif %} value="US-VT">Vermont</option>
                        <option {% if user.company.state == 'VA' %}selected="selected"{% endif %} value="US-VA">Virginia</option>
                        <option {% if user.company.state == 'WA' %}selected="selected"{% endif %} value="US-WA">Washington</option>
                        <option {% if user.company.state == 'WV' %}selected="selected"{% endif %} value="US-WV">West Virginia</option>
                        <option {% if user.company.state == 'WI' %}selected="selected"{% endif %} value="US-WI">Wisconsin</option>
                        <option {% if user.company.state == 'WY' %}selected="selected"{% endif %} value="US-WY">Wyoming</option>
                    </select>
                </div>
                <div>
                    <label for="contact_zip">Zip Code</label>
                    <input class="zip required" type="text" name="contact[zip]" id="contact_zip" value="{{ user.company.zip }}"/>
                </div>
            </li>
{% endif %}
            <li>
                <div>
                    <label for="contact_phone">Phone</label>
                    <input class="required" type="text" name="contact[phone]" id="contact_phone" value="{{ user.phone }}"/>
                </div>
            </li>
            <li>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </li>
        </ul>
    </form>
</div>

<div id="edit-password-modal" style="display:none; width:380px;">
    <h3><span class="icon icon-pencil"></span>Change Your Password</h3>
    
    <form action="{{ path('accountEdit') }}" method="POST" novalidate="novalidate">
        <ul>
            <li>
                <div>
                    <label for="contact_password_old">Enter Old Password</label>
                    <input class="required" type="password" name="contact[password][old]" id="contact_password_old"/>
                </div>
            </li>
            <li>
                <div>
                    <label for="contact_password_new">New Password</label>
                    <input class="required" type="password" name="contact[password][new]" id="contact_password_new"/>
                </div>
            </li>
            <li>
                <div>
                    <label for="contact_password_verify">Re-enter New Password</label>
                    <input class="required" type="password" name="contact[password][verify]" id="contact_password_verify"/>
                </div>
            </li>
            <li>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </li>
        </ul>
    </form>
</div>

<div id="edit-suitcase-modal" style="display:none; width:380px;">
    <h3><span class="icon icon-pencil"></span>Edit Your Suitcase</h3>
    
    <form action="{{ path('suitcaseEdit') }}" method="POST" novalidate="novalidate">
        <ul>
            <li>
                <div>
                    <label for="suitcase_event_name">Name of Event</label>
                    <input type="text" name="suitcase[event_name]" id="suitcase_event_name" value="" maxlength="40"/>
                </div>
            </li>
            <li>
                <div>
                    <label for="suitcase_event_date">Date of Event</label>
                    <input class="date" type="text" name="suitcase[event_date]" id="suitcase_event_date" value=""/>
                </div>
            </li>
            <li>
                <div>
                    <input type="hidden" name="suitcase[id]" id="suitcase_id" value=""/>
                    <button type="submit">Submit</button>
                </div>
            </li>
        </ul>
    </form>
</div>

<div id="delete-suitcase-modal" style="display:none;">
    <h3>Sure You Want to Delete This?</h3>
    <p>Are you certain you want to delete this suitcase? All information associated with this suitcase will be lost and cannot be recovered.</p>
    <button data-id="">Delete Suitcase</button>
</div>
{% endblock %}
